@import '../../n1-main/m1-ui/common/styles/variables';
@import '../../n1-main/m1-ui/common/styles/mixins';


.cardsTable {
   width: 1008px;
   height: 636px;
   background-color: $bgColorCard;
   border-radius: 8px;
   padding: 19px 24px 24px;
}

.searchBlock {
   display: flex;
   justify-content: space-between;   
}

.search {
   flex-grow: 1;
}

.label {
   display: inline-block;
   @include font(16px, 400, 120%, $textColorLight);   
   margin-top: 200px;
}

.content {
   display: flex;
   justify-content: center;
}