@import './../../../../n1-main/m1-ui/common/components/styles/variables.scss';
@import './../../../../n1-main/m1-ui/common/components/styles/mixins.scss';

.titleBlock {
   display: flex;   
   align-items: center;
   margin-bottom: 20px;
}

.link {
   width: 15px;
   height: 9px;
   padding: 0 0 18px 5px;
   margin-right: 14px;
   
   &:active {
      transform: translate(1px, 2px);
   }
}

