@import './../../../n1-main/m1-ui/common/components/styles/variables.scss';
@import './../../../n1-main/m1-ui/common/components/styles/mixins.scss';

.contentWrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px 33px 30px;
   border-radius: 8px;
   background-color: $bgColor;
}

.block {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 85px 0 30px;
}

.error {
   color: red;
}

