@import '../../n1-main/m1-ui/common/styles/variables';
@import '../../n1-main/m1-ui/common/styles/mixins';

.packsList {
   border-radius: 8px;
   display: grid;
   grid-template-columns: 243px 820px;
   grid-template-areas:
      "s m";
}

.sidebar {
   padding: 33px 24px 33px;
   grid-area: s;
   background-color: $bgColorSidebar;
   border-radius: 8px 0 0 8px;
}

.profileBlock {
   margin-bottom: 45px;
}

.label {
   display: inline-block;
   @include font(16px, 600, 120%, $textColor);
}

.btnBlock {
   display: flex;
   margin: 20px 0 45px;
}

.btn {
   display: inline-block;
   width: 98px;
   height: 36px;
   border: none;
   background-color: $buttonColorFour;
   @include font(14px, 400, 120%, $textColor);
   cursor: pointer;

   &:hover {
      opacity: 0.8;
   }
}

.active {
   background-color: $buttonColorFive;
   color: $buttonFontColorThree;
}

.main {
   grid-area: m;
   padding: 24px 48px;
   background-color: $bgColorCard;
   border-radius: 0 8px 8px 0;
}

.searchBlock {
   display: flex;
   justify-content: space-between;
   margin-bottom: 24px;
}

.search {
   flex-grow: 1;
}