@import '../../n1-main/m1-ui/common/components/styles/variables';

.learn {
    min-height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0 10px;
    background-color: $bgColor;
    display: flex;

    .status {
        color: grey;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .question {
        margin: 20px;
        font-size: 20px;
    }

    .grade {
        padding: 40px 0 20px 0;
        display: flex;
        justify-content: center;
        .gradeBtn {
            width: 100px;
            height: 60px;
            margin: 10px;
        }
    }

    .btn {
        padding-bottom: 30px;
    }
}