@import './../../../../n1-main/m1-ui/common/components/styles/variables.scss';
@import './../../../../n1-main/m1-ui/common/components/styles/mixins.scss';

.input {
   font-size: 14px;
   position: relative;
}

input:focus {
   outline: none;
}

.input input {
   border: none;
   appearance: none;
   background: transparent;
   padding: 20px 0 5px;
   width: 350px;
   @include font(16px, 400, 150%, $textColor);
   border-top: 20px solid transparent;
   border-bottom: 2px solid $inputBorderBottomColor;
}

.input .placeholder {
   @include font(16px, 500, 150%, $inputLabelColorFont);
   position: absolute;
   top: 40px;
   left: 0;
}

.input input:valid+.placeholder,
.input input:focus+.placeholder {
   font-size: 13px;
   transform: translateY(-120%);
   transition: 0.3s ease;
}

.icon {
   position: absolute;
   top: 44px;
   right: 16px;
   cursor: pointer;
}