@import './../../../../n1-main/m1-ui/common/components/styles/variables.scss';
@import './../../../../n1-main/m1-ui/common/components/styles/mixins.scss';

.btn {
   display: inline-block;
   width: 266px;
   height: 36px;
   background-color: $buttonColorOne;
   box-shadow: 0px 4px 18px $buttonShadowColorOne;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   @include font(16px, 500, 120%, $buttonFontColorOne);

   &:hover {
      opacity: 0.8;
   }

   &:disabled {
      cursor: auto;
      color: $buttonDisabled;

      &:hover {
         opacity: 1;
      }
   }
}