@import '../../../n1-main/m1-ui/common/components/styles/variables';
@import '../../../n1-main/m1-ui/common/components/styles/mixins';

.deletePackModal {
   background-color: $bgColorCard;
   border-radius: 2px;
}

.titleBlock {
   margin-bottom: 26px;
}

.content {
   padding: 0 24px 24px;
}

.text {
   width: 343px;
   @include font(14px, 400, 150%, $textColor);
   margin-bottom: 29px;
}