@import '../../../n1-main/m1-ui/common/components/styles/variables';

.examples {
    padding: 20px;
    background-color: $bgColor;
    .column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;

        .testSpanError {
            color: red;
        }

        .blue {
            border-bottom: 5px solid blue;
        }
    }

    .superButton {
        margin-bottom: 20px;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        height: 60px;
    }

    .SuperEditableSpanContainer {
        height: 30px;
    }

    .radioContainer {
        margin-top: 5px;
    }
}