@import '../../../n1-main/m1-ui/common/components/styles/variables';
@import '../../../n1-main/m1-ui/common/components/styles/mixins';

.contentWrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px 33px 30px;
   border-radius: 8px;
   background-color: $bgColorCard;
}

.block {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin: 15px 20px 80px 0;
   align-self: flex-end;
}

.linkForgotPass {
   @include font(14px, 500, 120%, $textColor);
   margin-top: 20px;
}

.question {
   @include font(14px, 600, 170%, $textColorLight);
   margin: 31px 0 11px;
}

.linkSignUp {
   @include font(16px, 600, 120%, $linkColor);   
}

a:hover {
   color: $darkAccentColor;
}

.error {
   color: red;
}
