@import './../../../n1-main/m1-ui/common/components/styles/variables.scss';
@import './../../../n1-main/m1-ui/common/components/styles/mixins.scss';

.tableWrap {
   max-height: 440px;
   overflow-y: auto;
   overflow-x: hidden;
   margin-bottom: 24px;
   @include font(13px, 400, 120%, #000000);
   box-shadow: 0px 4px 14px rgba(45, 46, 70, 0.15);
   position: relative;
}

.table {
   table-layout: fixed;
   width: 100%;
   border: none;
   border-collapse: collapse;   

   tbody tr:nth-child(even) {
      background: #F5F4FA;
   }
}

.thead .tr {
   background-color: #ECECF9;
}