@import '../../../n1-main/m1-ui/common/components/styles/variables';
@import '../../../n1-main/m1-ui/common/components/styles/mixins';

.contentWrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px 33px 30px;
   border-radius: 8px;
   background-color: $bgColor;
}

.img {
   position: relative;
   margin-bottom: 20px;
   .picture {
      border-radius: 50%;
      width: 96px;
      height: 96px;
   }
}

.icon {
   position: absolute;
   bottom: 0;
   right: 0;
   cursor: pointer;
}

.block {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin:105px 0 30px;
}

.onEditMode {
   justify-content: center;
}
