@import './../../../n1-main/m1-ui/common/components/styles/variables.scss';
@import './../../../n1-main/m1-ui/common/components/styles/mixins.scss';

.packsList {
   border-radius: 8px;
   display: grid;
   grid-template-columns: 243px 765px;
   grid-template-areas:
      "s m";
}

.sidebar {
   padding: 33px 24px 33px;
   grid-area: s;
   background-color: $bgColorSidebar;
   border-radius: 8px 0 0 8px;
}

.label {
   display: inline-block;
   @include font(16px, 600, 120%, $textColor);
}

.btnBlock {
   display: flex;
   margin: 20px 0 45px;
}

.btn {
   display: inline-block;
   width: 98px;
   height: 36px;
   border: none;
   background-color: #FFFFFF;
   @include font(14px, 400, 120%, #2D2E46);
   cursor: pointer;

   &:hover {
      opacity: 0.8;
   }
}

.active {
   background-color: #9A91C8;
   color: #FFFFFF;
}

.main {
   grid-area: m;
   padding: 24px 48px;
   background-color: #FEFEFF;
   border-radius: 0 8px 8px 0;
}

.searchBlock {
   display: flex;
   justify-content: space-between;
   margin-bottom: 24px;
}

.search {
   flex-grow: 1;
}