@import '../../../n1-main/m1-ui/common/components/styles/variables';
@import '../../../n1-main/m1-ui/common/components/styles/mixins';

.newPackModal {
   background-color: #F9F9FE;
   border-radius: 2px;
}

.titleBlock {
   margin-bottom: 15px;
}

.content {
   padding: 0 24px 24px;
}

.input {
   margin-bottom: 36px;
}

