@import '../common/styles/variables';

.header {
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   background-color: $bgColorHeader;
}

.logo {
   font-family: 'Mochiy Pop P One', sans-serif;
   font-size: 30px;
   margin: 0 0 5px 20px;
}

.list {
   display: flex;
}

li {
   display: flex;
   align-items: center;
}

a[class="active"] {
   opacity: 1;  

   &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $menuUnderlineColor;
      bottom: -1px;
      left: 0;
   }
}

.notDone {
   opacity: 0.5;
}





