@font-face {
   font-family: "Poppins";
   src: url(./../../../../../assets/fonts/Poppins/Poppins-Bold.ttf);
   font-weight: 700;
   font-style: normal;
 }

 @font-face {
   font-family: "Poppins";
   src: url(./../../../../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
   font-weight: 600;
   font-style: normal;   
 }

 @font-face {
   font-family: "SFDisplay";
   src: url(./../../../../../assets/fonts/SFUIDisplay/SFUIDisplay-Regular.ttf);
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: "SFDisplay";
   src: url(./../../../../../assets/fonts/SFUIDisplay/SFUIDisplay-Medium.ttf);
   font-weight: 500;
   font-style: normal;
 } 

 @font-face {
   font-family: "SFDisplaySemiBold";
   src: url(./../../../../../assets/fonts/SFUIDisplay/SFUIDisplay-Semibold.ttf);
   font-weight: 600;
   font-style: normal;
 }

 @font-face {
   font-family: "SFDisplay";
   src: url(./../../../../../assets/fonts/SFUIDisplay/SFUIDisplay-Bold.ttf);
   font-weight: 700;
   font-style: normal;
 }
