$textColor: #2D2E46;
$textColorLight: #24254A;
$primaryColor: #f5df4e;
$accentColor: #f0d900;
$bgColor: #F9F9FE;
$bgSecondColor: #fff;
$btnColor:#21268F;
$btnTextColor: #ECECF9;
$titleFontFamily: 'Poppins', sans-serif;
$textFontFamily: 'Poppins', sans-serif;

$tempBorder: 1px solid lightgray;

//for media query
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;


