@import './../../../n1-main/m1-ui/common/components/styles/variables.scss';

.myPacksList {
   border-radius: 8px;
   display: grid;
   grid-template-columns: 243px 765px;
   grid-template-areas:
      "s m";
}

.sidebar {
   grid-area: s;
   background-color: $bgColorSidebar;
   border-radius: 8px 0 0 8px;
}

.profileBlock {
   margin-bottom: 17px;
}

.useSlider {
   margin-left: 24px;
}

.main {
   grid-area: m;
   padding: 24px 48px;
   background-color: $bgColorCard;
   border-radius: 0 8px 8px 0;
}

.search {
   margin-bottom: 24px;
}